body {
    margin: 0;
    font-family: monospace;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
}

.content {
    margin: 5rem 0em;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}